@import "tailwindcss";

body {
  background-color: rgb(0, 0, 0) !important;
  background-image: url('https://www.transparenttextures.com/patterns/stardust.png') !important;
  background-repeat: repeat !important;
  background-attachment: fixed !important;
}